{% extends 'page.html' %}
{% import 'macros.html' as macros %}
{% block title %}Tezos developer dashboard{% endblock %}
{% block nav %}{{ macros.nav([], 'Tezos developer dashboard') }}{% endblock %}
{% block content %}
    <div id="user-overview" class="row">
        <div class="col">
            {%- if actions_counts -%}
                {%- for user, count in actions_counts|dictsort(by='key')|sort(reverse=true, attribute=1) -%}
                    {{- macros.user_link(user, post=" ({})".format(count), class='me-3') -}}</li>
                {%- endfor -%}
            {%- else -%}
                <div class="alert alert-warning" role="alert">
                    No actions counts. Did something went wrong?
                </div>
            {%- endif -%}
        </div>
    </div>
    {{ macros.actions_table(sorted_actions, actor=None) }}
    <div class="row">
        <div class="col">
            <h1>Repositories</h1>
            <table class="table">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Dispatchers</th>
                    <th scope="col">Issue-watchers</th>
                    <th scope="col">Merge-teamers</th>
                </thead>
                <tbody>
                    {%- for repo in repositories|sort(attribute='printable_id') -%}
                        <tr>
                            <th scope="row">
                                {{ macros.avatared_link(repo, href=repo.web_url, title=repo.name_with_namespace, contents=repo.printable_id) }}
                            </th>
                            <td>{{ macros.repo_people(repo, 'dispatchers') }}</td>
                            <td>{{ macros.repo_people(repo, 'issuewatchers') }}</td>
                            <td>{{ macros.repo_people(repo, 'mergeteamers') }}</td>
                        </tr>
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
