{%- macro avatar(ns, size=24) -%}
    {%- if ns.avatar_url is none -%}
        <span class="badge badge-bg-light text-dark rounded-pill">{{ ns.name[0] }}</span>
    {%- else -%}
        <img src="{{ ns.avatar_url }}" alt="{{ ns.avatar_alt }}" width="{{ size }}" height="{{ size }}" class="rounded me-2" loading="lazy" />
    {%- endif -%}
{%- endmacro -%}

{%- macro avatared_link(ns, contents, href='#', title='', class='') -%}
    <span class="d-inline-block">{{- avatar(ns) }}<a href="{{ href }}" class="{{ class }}" title="{{ title }}">{{ contents }}</a></span>
{%- endmacro -%}

{%- macro user_link(user, post='', class='') -%}
    {{ avatared_link(user,
        contents=user.printable + post,
        href="{}.html".format(user.username),
        title=user.printable_name,
        class=class) }}
{%- endmacro -%}

{%- macro user_list(users) -%}
    {%- if users -%}
        {%- for user in users|sort(attribute='username') %}
            {{ user_link(user, class='me-2') }}
        {% endfor -%}
    {%- else -%}
        <em>No one</em>
    {%- endif -%}
{%- endmacro -%}

{%- macro who_link(actor, user) -%}
    {%- if actor is none -%}
        {{- user_link(user, class='fw-bold') -}}
    {%- else -%}
        {{- user.printable -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro rc_link(rc) -%}
    <a href="{{ rc.web_url }}" title="{{ rc.title }}">{{ rc.printable_id }}</a>
{%- endmacro -%}

{%- macro repo_people(repo, people_name) -%}
    {{- user_list(repo|attr(people_name)) }} 
    <span class="d-inline-block">({{ repo|attr(people_name + '_why') }})</span>
{%- endmacro -%}

{%- macro actions_table(sorted_actions, actor) -%}
    <div class="row">
        <div class="col">
            <h1>
                {%- if actor is none -%}
                    Everybody
                {%- else -%}
                    {{ avatar(actor, size=48) }}{{ actor.printable_name }}
                {%- endif -%}'s actions
            </h1>
            {% if sorted_actions -%}
                <table class="table">
                    <thead>
                        <th scope="col">Resource</th>
                        <th scope="col">Action</th>
                        <th scope="col">{% if actor is none %}Who and why{% else %}Why{% endif %}</th>
                    </thead>
                    <tbody>
                        {% for action in sorted_actions %}
                            {% if loop.previtem is not defined
                               or action.resource != loop.previtem.resource
                               or action.uid != loop.previtem.uid
                               or action.why != loop.previtem.why %}
                            <tr>
                                {# using two loop.changed seems to fail #}
                                {% if loop.previtem is not defined or action.resource != loop.previtem.resource -%}
                                    <th scope="row">
                                        {{- rc_link(action.resource) -}}
                                    </th>
                                {%- else -%}
                                    <td>&nbsp;</td>
                                {%- endif %}
                                <td>
                                    {% if loop.previtem is not defined or action.uid != loop.previtem.uid -%}
                                        <a href="{{ action.web_url }}" title="{{ action.description }}">{{ action.printable }}</a>
                                    {%- else -%}
                                        &nbsp;
                                    {%- endif %}
                                </td>
                                <td>
                            {% endif %}
                                    {{ who_link(actor, action.who) }}
                            {% if loop.nextitem is not defined
                               or action.resource != loop.nextitem.resource
                               or action.uid != loop.nextitem.uid
                               or action.why != loop.nextitem.why %}
                                     {{ action.why }}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {%- else -%}
                <div class="alert alert-warning" role="alert">
                    No actions. Did something went wrong?
                </div>
            {%- endif %}
        </div>
    </div>
{%- endmacro -%}

{%- macro nav(prev, cur) -%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for title, href in prev %}
                <li class="breadcrumb-item"><a href="{{ href }}">{{ title }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ cur }}</li>
        </ol>
    </nav>
{%- endmacro -%}
