<!doctype html>
<html lang="en">
    {% block head %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
        <title>{% block title %}TITLE{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
    </head>
    {% endblock %}
    {% block body %}
    <body>
        <div class="container">
            {% block nav %}TODO{% endblock %}
            {% block content %}TODO{% endblock %}
        </div>
        {% block footer %}
        <footer class="footer text-center">
            <hr />
            <p>© 2021. <strong>Nomadic Labs</strong> All rights
                reserved.<br />
                Code snippets in the pages are released under The MIT License,
                unless otherwise specified.<br />
            </p>
        </footer>
        {% endblock %}
    </body>
    {% endblock %}
</html>
